* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 640px;
}

.info {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.colorInfo {
    display: flex;
    align-items: center;
    width: 170px;
    gap: 7px;
}

.colorBoxContainer {
    display: flex;
}

.colorBox {
    height: 10px;
    width: 10px;
}

.modeSelector {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-right: auto;
}

label {
    display: flex;
    align-items: center;
    gap: 3px;
}

button {
    padding: 3px 10px;
}

.canvas {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 640px;
    background-color: white;
    border: 1px solid gray;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    border: 1px solid gray;
}

.helpText {
    padding: 10px 0;
}

.gallery {
    display: flex;
    text-align: center;
    height: 50px;
}

a {
    margin: auto;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    font-size: 22px
}
