* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 640px;
}

.info {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.colorInfo {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 8px;
}

.colorLabel {
    display: flex;
}

.colorBox {
    height: 10px;
    width: 10px;
}

button {
    padding: 5px 15px;
}

.canvas {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 640px;
    background-color: white;
    border: 1px solid gray;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    border: 1px solid gray;
}

.helpText {
    padding: 10px 0;
}
