* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 640px;
    height: 640px;
    background-color: white;
    border: 1px solid gray;
}

.row {
    display: flex;
    flex:1;
}

.cell {
    flex:1;
    border: 1px solid gray;
}